.container {
  position: relative;
}

.container:hover {
  filter: brightness(90%);
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url(./images/pointer.png), auto;
  transition: all 0.3s ease;
  z-index: 0;
}

.cell:hover {
  filter: brightness(90%);
}

.cell_effect {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 1;
  background-color: transparent;
  border: 1px solid black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
