.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 50px;
  height: 100%;
}

.btn {
  width: 200px;
  font-weight: bold;
  font-size: 20px;
  height: 50px;
  background-color: yellow;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 50px;
}

.tables {
  display: flex;
  column-gap: 20px;
}
